* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #202125;
  --color-bg-variant: #202125;
  --color-primary: #202125;
  --color-primary-variant: #202125;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-text: #01b075; /* Добавленный цвет текста */
}

/* FORM */
.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.registerTitle {
  font-size: 50px;
  color: var(--color-text); /* Применение цвета текста */
}

.registerForm {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}

.registerForm>label {
  margin: 10px 0;
  color: var(--color-text); /* Применение цвета текста */
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: var(--color-text); /* Применение цвета текста */
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--color-text); /* Применение цвета текста */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerButton:hover {
  background-color: #019962; /* Изменение цвета при наведении */
}

@media screen and (max-width: 480px) {
  .register {
    background-position: right;
  }

  .registerInput {
    font-size: 15px;
    padding: 15px;
    border-radius: 8px;
  }

  .registerButton {
    font-size: 16px;
    padding: 20px;
    border-radius: 12px;
  }
}
